.header {
  position: relative;
  .right .right-inner {
    height: 100%;
    padding-left: 25px;
  }
  &.fixed {
    position: fixed;
    left: 0;
    padding: 0 84px;
    z-index: 1001;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
}

.mobile-header {
  position: relative;
  z-index: 1001;
  .mobile-header-inner {
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    .mobile-header-bar {
      position: relative;
      height: 100%;
    }
  }
  .mobile-nav {
    display: none;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    ul {
      li a {
        position: relative;
        display: block;
        padding: 9px 0;
        margin: 0;
        color: #4e4e4e;
        border-bottom: 1px solid #e1e1e1;
        &.active,
        &:hover {
          color: #000;
        }
      }
      ul {
        display: none;
        li a {
          font-size: 13px;
          line-height: 24px;
        }
      }
      .arrow {
        right: 0;
        top: 0;
        width: 50px;
        height: auto;
        font-size: 15px;
        line-height: inherit;
        text-align: right;
        padding: 9px 12px 9px 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .mobile-menu-item.active {
      ul {
        display: block;
      }
      .arrow {
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
      }
    }
    .mobile-menu {
      > .mobile-menu-item {
        > a {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 400;
        }
        &:last-child > a {
          border-bottom: none;
        }
      }
    }
    &.active {
      display: block;
    }
  }
}

.main-menu > ul > li {
  > a {
    padding: 0 22px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    box-sizing: border-box;
    > span.item-inner {
      position: relative;
      display: block;
    }
    .item-text:before {
      content: "";
      height: 1px;
      opacity: 0;
      background-color: var(--color-tertiary);
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 0;
      margin: auto;
      transition: width 0.2s ease-in-out;
    }
  }
  a {
    display: block;
    &.active,
    &:hover {
      .item-text:before {
        width: 17px;
        opacity: 1;
      }
    }
  }
}
.sidearea-button-opener-svg-path {
  svg rect {
    fill: var(--color-tertiary);
  }
}
.sidearea-svg-1 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  .sidearea-svg-initial {
    -webkit-transition: -webkit-transform 0.35s ease-out 0s;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    transition: transform 0.35s ease-out 0s;
  }
  .sidearea-svg-hover {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.2s;
    -moz-transition: -moz-transform 0.35s ease-out 0.2s;
    transition: transform 0.35s ease-out 0.2s;
  }
}
.sidearea-svg-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  -moz-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  .sidearea-svg-initial {
    -webkit-transition: -webkit-transform 0.35s ease-out 50ms;
    -moz-transition: -moz-transform 0.35s ease-out 50ms;
    transition: transform 0.35s ease-out 50ms;
  }
  .sidearea-svg-hover {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.25s;
    -moz-transition: -moz-transform 0.35s ease-out 0.25s;
    transition: transform 0.35s ease-out 0.25s;
  }
}
.sidearea-svg-3 {
  -webkit-transform: translate3d(0, 16px, 0);
  -moz-transform: translate3d(0, 16px, 0);
  transform: translate3d(0, 16px, 0);
  .sidearea-svg-initial {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.1s;
    -moz-transition: -moz-transform 0.35s ease-out 0.1s;
    transition: transform 0.35s ease-out 0.1s;
  }
  .sidearea-svg-hover {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.3s;
    -moz-transition: -moz-transform 0.35s ease-out 0.3s;
    transition: transform 0.35s ease-out 0.3s;
  }
}
.sidearea-svg-hover,
.sidearea-svg-initial {
  -webkit-transition: -webkit-transform none;
  -moz-transition: -moz-transform none;
  transition: transform none;
}
.sidearea-svg-initial {
  transform-origin: left;
}
.sidearea-svg-hover {
  transform-origin: right;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  transform: scale(0, 1);
}
.sidearea-button-opener-svg-path:hover {
  svg .sidearea-svg-initial {
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.35s ease-out 0s;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    transition: transform 0.35s ease-out 0s;
  }
  svg .sidearea-svg-hover {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.header-top {
  padding: 8px 0;
  .left, .right {
    display: flex;
  }
  .left {
    align-items: center;
    i {
      color: var(--color-tertiary);
      font-size: 18px;
    }
  }
  .left a {
    align-items: center;
    display: flex;
  }
  .right {
    justify-content: flex-end;
  }
  .social {
    margin: 0 8px;
    a {
      display: block;
      width: 24px;
      height: 24px;
      i {
        font-size: 24px;
        color: var(--color-tertiary);
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}

.header.fixed .header-top {
  display: none !important;
}