<div class="product-inner">
  <div class="product-image">
    <img src="/assets/img/shop-img-1.jpg" class="product-thumbnail" alt="">
    <span class="sticker out-of-stock">Sold</span>
    <div class="product-overlay">
      <a href="javascript:void(0);" class="product-cart-btn">
        Add to Cart
      </a>
    </div>
  </div>
  <a routerLink="/" class="product-link"></a>
</div>
<div class="product-text">
  <h6 class="product-title">Lorem, ipsum.</h6>
  <span class="product-price">
    <span class="price-amount">
      <span class="price-currency">$</span>85
    </span>
  </span>
</div>
<div class="product-rating">
  <div class="star-rating">
    <span style="width: 100%;">
      Rated <strong class="rating">4.00</strong> out of 5
    </span>
  </div>
</div>