<div class="item-inner">
  <div class="item-image">
    <img src="/assets/img/shop-img-1.jpg" class="item-thumbnail" alt="">
    <span class="sticker out-of-stock">Sold</span>
    <div class="item-overlay">
      <a href="javascript:void(0);" class="item-cart-btn">
        Add to Cart
      </a>
    </div>
  </div>
  <a routerLink="/product/123" class="item-link"></a>
</div>
<div class="item-text">
  <h6 class="item-title" routerLink="/product/123">Lorem, ipsum.</h6>
  <span class="item-price">
    <span class="price-amount">
      <span class="price-currency">$</span>85
    </span>
  </span>
</div>
<div class="item-rating">
  <div class="star-rating">
    <span style="width: 100%;">
      Rated <strong class="rating">4.00</strong> out of 5
    </span>
  </div>
</div>