<div class="page-title d-flex align-items-center h-92">
  <div class="container">
    <div itemprop="breadcrumb" class="breadcrumb">
      <a itemprop="url" routerLink="/home">Home</a>
      <span class="delimiter">&nbsp; / &nbsp;</span>
      <span class="current">Shop</span>
    </div>
  </div>
</div>
<div class="position-relative" style="z-index: 100;">
  <div class="container pt-120 pb-50 px-0">
    <div class="product-single row" style="margin: 0 -25px;">
      <div class="product-images col-6">
        <div class="product-image">
          <a href="/assets/img/shop-img-2.jpg">
            <img src="/assets/img/shop-img-2.jpg" class="image">
          </a>
        </div>
      </div>
      <div class="product-summary col-6">
        <div class="product-title">White Plate</div>
        <p class="price" style="font-size: 20px;">
          <span class="price-currency">$</span>85
        </p>
        <div class="product-rating">
          <div class="star-rating">
            <span style="width: 100%;">
              Rated <strong class="rating">4.00</strong> out of 5
            </span>
          </div>
        </div>
        <div class="product-description mt-60">
          <p>Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis an cras semper auctor neque
            vitae tempus quam pellentesque nec nam aliquam sem tortor consequat id porta nibh venenatis.</p>
        </div>
      </div>
    </div>
  </div>
</div>