<div [ngClass]="{'sidearea-opended': isSideareaOpen}">
  <section class="sidearea text-center">
    <a href="javascript:void(0);" class="close-sidearea" (click)="toggleSidearea()">
      <svg class="flip-icon text-mid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="41.521px" height="15.18px" viewBox="0 0 41.521 15.18"
        enable-background="new 0 0 41.521 15.18" xml:space="preserve">
        <polygon fill="#FFFFFF" points="41.521,7.094 1.9,7.094 8.287,0.707 7.58,0 0,7.58 7.58,15.18 8.288,14.473 1.925,8.094 
          41.521,8.094 "></polygon>
      </svg>
    </a>
    <div class="sidearea-logo mb-20">
      <a href="/">
        <img src="/assets/img/sidearea-logo.png" alt="">
      </a>
    </div>
    <div class="h-24"></div>
    <div class="sidearea-text">
      <p class="my-12">
        Someplace 101 1st Street,<br>
        Some State 10000, Country<br>
        <a href="tel:123456789">+123456789</a><br>
        <a href="mailto:email@example.com">email@example.com</a>
      </p>
    </div>
    <div class="h-32"></div>
    <div class="sidearea-socials d-flex justify-content-center">
      <a class="social-icon icon-has-hover mx-16" href="fb.com" target="_blank">
        <span>FB</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="ig.com" target="_blank">
        <span>IG</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="twitter.com" target="_blank">
        <span>TW</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="twitter.com" target="_blank">
        <span>LI</span>
      </a>
    </div>
  </section>
  <div class="main">
    <div *ngIf="isSideareaOpen" class="main-overlay" (click)="toggleSidearea(true)"></div>
    <div class="main-inner w-100-p overflow-h">
      <app-header [isSideareaOpen]="isSideareaOpen" (toggleSidearea)="toggleSidearea()"></app-header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="footer-root">
    <div class="footer-top-cont">
      <div class="footer-inner">
        <div class="row text-center">
          <div class="col-12">
            <div class="separator h-52"></div>
            <div class="footer-logo mb-20">
              <a routerLink="/">
                <img src="/assets/img/footer-logo.png" alt="" width="32">
              </a>
            </div>
            <div class="separator h-24"></div>
            <div class="address-cont">
              <p>
                <a class="line-link" href="https://www.google.com/maps/" target="_blank"
                  rel="noopener; noopener noreferrer">
                  Some Restaurant 123 4th Avenue,</a></p>
              <p>
                <a class="line-link" href="https://www.google.com/maps/" target="_blank"
                  rel="noopener; noopener noreferrer">
                  New York 10021, USA
                </a>
              </p>
              <p><a class="line-link" href="tel:+000123456789">+00 01 23 456 789</a></p>
              <p><a class="line-link" href="mailto:email@example.com">email@example.com</a></p>
              <p>Open 08:00 - 22:00 </p>
            </div>
            <div class="separator h-24"></div>
            <div class="social-cont">
              <a class="line-link mr-36" href="https://www.facebook.com" target="_blank">
                <span>Facebook</span>
              </a>
              <a class="line-link mr-36" href="https://www.instagram.com" target="_blank">
                <span>Instagram</span>
              </a>
              <a class="line-link" href="https://www.tripadvisor.com" target="_blank">
                <span>Trip Advisor</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bot-cont">
      <div class="grid">
        <div class="row">
          <div class="col-12">
            <p>
              All rights reserved <a style="color: #4e4e4e;">© </a>
              <a href="" target="_blank" class="link-link" style="color: #4e4e4e;" rel="noopener noreferrer">Rojer Maharjan</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>