.grid {
  width: 1100px;
  margin: 0 auto;
}
.main-overlay {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
}
.main {
  position: relative;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #ffffff;
  padding: 84px;
}

//sidearea
.sidearea {
  position: fixed;
  top: 0;
  right: -380px;
  width: 380px;
  height: 100%;
  min-height: 100%;
  padding: 110px 65px 36px;
  background-color: var(--color-primary);
  color: #fff;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);

  a {
    color: #fff;
    &.close-sidearea {
      position: absolute;
      top: 50px;
      right: 40px;
      display: block;
      z-index: 1000;
    }
  }
}
.social-icon {
  span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.24em;
    font-weight: 400;
  }
}
.icon-has-hover {
  position: relative;
  span {
    &:hover:before {
      width: calc(100% - 3px);
    }
    &:before {
      content: "";
      height: 1px;
      background-color: currentColor;
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 0;
      margin: auto;
      transition: width 0.2s ease-in-out;
    }
  }
}
.sidearea-opended {
  .sidearea {
    right: 0;
    visibility: visible;
  }
  .main-overlay {
    z-index: 1002;
    opacity: 1;
  }
}
.footer-root {
  .footer-top-cont,
  .footer-bot-cont {
    background-color: #fbf9f9;
  }
  .footer-top-cont {
    padding: 76px 0 54px;
  }
  .footer-bot-cont {
    text-align: center;
    font-size: 11px;
    color: #4e4e4e;
    padding: 27px 0 20px;
  }
  .social-cont {
    a {
      color: #000;
      &:focus,
      &:hover {
        color: #000;
      }
    }
  }
  p {
    margin: 0;
    line-height: 23px;
    color: #9c9b9b;
    a {
      position: relative;
      color: #9c9b9b;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .sidearea {
    padding: 110px 40px 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid {
    width: 950px;
  }
  .sidearea {
    padding: 60px 42px 30px 41px;
  }
}
@media only screen and (max-width: 1024px) {
  .main {
    padding: 10px;
  }
  .grid {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .grid {
    width: 600px;
  }
}
.main {
  padding-top: 0;
}
