<div [ngClass]="{'sidearea-opended': isSideareaOpen}">
  <section class="sidearea text-center">
    <a href="javascript:void(0);" class="close-sidearea" (click)="toggleSidearea()">
      <svg class="flip-icon text-mid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="41.521px" height="15.18px" viewBox="0 0 41.521 15.18"
        enable-background="new 0 0 41.521 15.18" xml:space="preserve">
        <polygon fill="#FFFFFF" points="41.521,7.094 1.9,7.094 8.287,0.707 7.58,0 0,7.58 7.58,15.18 8.288,14.473 1.925,8.094 
          41.521,8.094 "></polygon>
      </svg>
    </a>
    <div class="sidearea-logo mb-20">
      <a href="/">
        <img src="/assets/img/sidearea-logo.png" alt="">
      </a>
    </div>
    <div class="h-24"></div>
    <div class="sidearea-text">
      <p class="my-12">
        Someplace 101 1st Street,<br>
        Some State 10000, Country<br>
        <a href="tel:123456789">+123456789</a><br>
        <a href="mailto:email@example.com">email@example.com</a>
      </p>
    </div>
    <div class="h-32"></div>
    <div class="sidearea-socials d-flex justify-content-center">
      <a class="social-icon icon-has-hover mx-16" href="fb.com" target="_blank">
        <span>FB</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="ig.com" target="_blank">
        <span>IG</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="twitter.com" target="_blank">
        <span>TW</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="twitter.com" target="_blank">
        <span>LI</span>
      </a>
    </div>
  </section>
  <div class="main">
    <div class="main-overlay" (click)="toggleSidearea(true)"></div>
    <div class="main-inner w-100-p overflow-h">
      <header class="header position-relative z-10 w-100-p" appHeaderFixed>
        <div class="menu fixed d-flex align-items-center w-100-p" style="height: 125px;">
          <div class="left d-flex align-items-center" style="flex: 100%;">
            <div class="left-widget d-flex align-items">
              <a href="javascript:void(0);" class="black-btn solid small">
                <span class="btn-text">Reserve</span>
              </a>
            </div>
            <div class="left-inner mx-auto">
              <nav class="main-menu">
                <ul id="mainMenu" class="p-0 m-0 d-flex">
                  <li class="menu-item">
                    <a routerLink="" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Menu</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/lorem" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Lorem</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/ipsum" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Ipsum</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="center">
            <div class="center-inner">
              <div class="logo-wrapper pb-4">
                <a href="">
                  <img src="/assets/img/logo-default-1.png" alt="" class="normal-logo" style="height: 36px;">
                  <!-- <img src="" alt="" class="dark-logo">
                  <img src="" alt="" class="light-logo"> -->
                </a>
              </div>
            </div>
          </div>
          <div class="right d-flex justify-content-between" style="flex: 100%;">
            <div class="right-inner mx-auto">
              <nav class="main-menu">
                <ul id="mainMenu" class="p-0 m-0 d-flex">
                  <li class="menu-item">
                    <a routerLink="" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Menu</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/lorem" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Lorem</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/ipsum" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Ipsum</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="right-widget">
              <a href="javascript:void(0);" class="sidearea-button-opener-svg-path" (click)="toggleSidearea()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="40.997px" height="17.016px" viewBox="0 0 40.997 17.016"
                  enable-background="new 0 0 40.997 17.016" xml:space="preserve">
                  <g class="sidearea-svg-1">
                    <rect class="sidearea-svg-initial" fill="#010101" width="40.997" height="1"></rect>
                    <rect class="sidearea-svg-hover" fill="#010101" width="40.997" height="1"></rect>
                  </g>
                  <g class="sidearea-svg-2">
                    <rect class="sidearea-svg-initial" fill="#010101" width="40.997" height="1"></rect>
                    <rect class="sidearea-svg-hover" fill="#010101" width="40.997" height="1"></rect>
                  </g>
                  <g class="sidearea-svg-3">
                    <rect class="sidearea-svg-initial" fill="#010101" width="40.997" height="1"></rect>
                    <rect class="sidearea-svg-hover" fill="#010101" width="40.997" height="1"></rect>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </header>
      <header class="mobile-header d-md-none">
        <div class="mobile-header-inner" style="height: inherit;">
          <div class="grid position-relative h-100-p">
            <div class="mobile-menu-opener d-flex justify-content-center align-items-center position-absolute h-100-p">
              <a href="javascript:void(0);" class="cursor-pointer">
                <span class="material-icons" style="color: #000;">menu</span>
              </a>
            </div>
            <div
              class="center position-absolute w-100-p text-center d-flex justify-content-center align-items-center h-100-p">
              <div class="mobile-logo-wrapper">
                <a href="" class="d-block" style="height: 26px;">
                  <img src="/assets/img/logo-mobile-1.png" alt="" class="h-100-p">
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="main-slider slider-1">
          <div class="slider-overlay">
            <img src="/assets/img/11.png" alt="Slider Overlay" class="d-none d-lg-block">
          </div>
          <ngx-slick-carousel class="offer-slider" #slickModal="slick-carousel" [config]="sliderConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slider-item">
              <div class="slider-inner">
                <div class="container">
                  <div class="d-flex flex-wrap align-items-center">
                    <div class="w-50-p text-right pr-64">
                      <h1 class="title">Truly Italian</h1>
                      <h4 class="subtitle">Pepperoni Pizza With Thin Crust</h4>
                      <p class="text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard
                      </p>
                      <div class="slider-icons-wrapper justify-content-end">
                        <div class="slider-icon">
                          <i class="material-icons">local_fire_department</i>
                          <div class="slider-icon-body">
                            <h5>480</h5><span>Calories</span>
                          </div>
                        </div>
                        <div class="slider-icon">
                          <i class="material-icons">restaurant</i>
                          <div class="slider-icon-body">
                            <h5>120g</h5><span>Lorem, ipsum.</span>
                          </div>
                        </div>
                      </div>
                      <div class="slider-controls justify-content-end">
                        <a href="#" class="slider-btn" tabindex="-1">
                          <span>Order</span>
                          <i class="material-icons">shopping_bag</i>
                        </a>
                        <h4>$10.99</h4>
                      </div>
                    </div>
                    <div class="w-50-p p-24">
                      <img src="{{ slide.src }}" alt="" width="100%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>