.grid {
  width: 1100px;
  margin: 0 auto;
}
.main-overlay {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
}
.main {
  position: relative;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #ffffff;
  padding: 84px;
}
.main-menu > ul > li {
  > a {
    padding: 0 22px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    box-sizing: border-box;
    > span.item-inner {
      position: relative;
      display: block;
    }
    .item-text:before {
      content: "";
      height: 1px;
      opacity: 0;
      background-color: currentColor;
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 0;
      margin: auto;
      transition: width 0.2s ease-in-out;
    }
  }
  a {
    display: block;
    &.active,
    &:hover {
      .item-text:before {
        width: 17px;
        opacity: 1;
      }
    }
  }
}
.header {
  position: relative;
  .right .right-inner {
    height: 100%;
    padding-left: 25px;
  }
  &.fixed {
    position: fixed;
    left: 0;
    padding: 0 84px;
    z-index: 1200;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
}

.mobile-header {
  position: relative;
  z-index: 1200;
  .mobile-header-inner {
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    .mobile-header-bar {
      position: relative;
      height: 100%;
    }
  }
  .mobile-nav {
    display: none;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    ul {
      li a {
        position: relative;
        display: block;
        padding: 9px 0;
        margin: 0;
        color: #4e4e4e;
        border-bottom: 1px solid #e1e1e1;
        &.active,
        &:hover {
          color: #000;
        }
      }
      ul {
        display: none;
        li a {
          font-size: 13px;
          line-height: 24px;
        }
      }
      .arrow {
        right: 0;
        top: 0;
        width: 50px;
        height: auto;
        font-size: 15px;
        line-height: inherit;
        text-align: right;
        padding: 9px 12px 9px 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .mobile-menu-item.active {
      ul {
        display: block;
      }
      .arrow {
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
      }
    }
    .mobile-menu {
      > .mobile-menu-item {
        > a {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 400;
        }
        &:last-child > a {
          border-bottom: none;
        }
      }
    }
    &.active {
      display: block;
    }
  }
}
.sidearea-svg-1 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  .sidearea-svg-initial {
    -webkit-transition: -webkit-transform 0.35s ease-out 0s;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    transition: transform 0.35s ease-out 0s;
  }
  .sidearea-svg-hover {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.2s;
    -moz-transition: -moz-transform 0.35s ease-out 0.2s;
    transition: transform 0.35s ease-out 0.2s;
  }
}
.sidearea-svg-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  -moz-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  .sidearea-svg-initial {
    -webkit-transition: -webkit-transform 0.35s ease-out 50ms;
    -moz-transition: -moz-transform 0.35s ease-out 50ms;
    transition: transform 0.35s ease-out 50ms;
  }
  .sidearea-svg-hover {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.25s;
    -moz-transition: -moz-transform 0.35s ease-out 0.25s;
    transition: transform 0.35s ease-out 0.25s;
  }
}
.sidearea-svg-3 {
  -webkit-transform: translate3d(0, 16px, 0);
  -moz-transform: translate3d(0, 16px, 0);
  transform: translate3d(0, 16px, 0);
  .sidearea-svg-initial {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.1s;
    -moz-transition: -moz-transform 0.35s ease-out 0.1s;
    transition: transform 0.35s ease-out 0.1s;
  }
  .sidearea-svg-hover {
    -webkit-transition: -webkit-transform 0.35s ease-out 0.3s;
    -moz-transition: -moz-transform 0.35s ease-out 0.3s;
    transition: transform 0.35s ease-out 0.3s;
  }
}
.sidearea-svg-hover,
.sidearea-svg-initial {
  -webkit-transition: -webkit-transform none;
  -moz-transition: -moz-transform none;
  transition: transform none;
}
.sidearea-svg-initial {
  transform-origin: left;
}
.sidearea-svg-hover {
  transform-origin: right;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  transform: scale(0, 1);
}
.sidearea-button-opener-svg-path:hover {
  svg .sidearea-svg-initial {
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.35s ease-out 0s;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    transition: transform 0.35s ease-out 0s;
  }
  svg .sidearea-svg-hover {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

//sidearea
.sidearea {
  position: fixed;
  top: 0;
  right: -380px;
  width: 380px;
  height: 100%;
  min-height: 100%;
  padding: 110px 65px 36px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);

  a {
    color: #fff;
    &.close-sidearea {
      position: absolute;
      top: 50px;
      right: 40px;
      display: block;
      z-index: 1000;
    }
  }
}
.social-icon {
  span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.24em;
    font-weight: 400;
  }
}
.icon-has-hover {
  position: relative;
  span {
    &:hover:before {
      width: calc(100% - 3px);
    }
    &:before {
      content: "";
      height: 1px;
      background-color: currentColor;
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 0;
      margin: auto;
      transition: width 0.2s ease-in-out;
    }
  }
}
.sidearea-opended {
  .sidearea {
    right: 0;
    visibility: visible;
  }
  .main-overlay {
    z-index: 1002;
    opacity: 1;
  }
}

// Slider
.slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  img {
    position: absolute;
    max-width: 180px;
    margin-right: 200px;
  }
}
.main-slider {
  position: relative;
  .offer-slider,
  .slider-item {
    z-index: 200;
    &:focus,
    &:hover {
      outline: none;
    }
  }
  &.slider-1 {
    min-height: auto;
    .slider-inner {
      position: relative;
      padding: 120px 0;
      background-size: cover;
      background-position: center;
      padding: 0 0 70px;
      .slider-content {
        text-align: right;
        .slider-icons-wrapper,
        .slider-controls {
          justify-content: flex-end;
        }
      }
      h1,
      p {
        max-width: 600px;
      }
      .title {
        font-size: 62px;
        font-family: "Oswald", sans-serif;
        line-height: 80px;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
        color: #1d2228;
      }
      .subtitle {
        font-size: 26px;
        margin: 0 0 20px;
        font-family: "Oswald", sans-serif;
        color: #1d2228;
      }
      p.text {
        color: #848486;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    .slick-arrow {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .slick-dots {
      margin: 0;
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .slick-list,
  .slick-slide {
    margin: 0;
  }
}
.slider-icons-wrapper {
  display: flex;
  align-items: center;
}
.slider-icon {
  display: flex;
  align-items: center;
  margin: 0 40px 40px 0;
  &:last-child {
    margin-right: 0;
  }
  i {
    font-size: 40px;
    margin-right: 20px;
  }
  h5 {
    margin: 0;
    color: #1d2228;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
}
.slider-controls {
  display: flex;
  align-items: center;
  h4 {
    margin: 0 0 0 40px;
    font-weight: 700;
    color: #1d2228;
    font-size: 26px;
    line-height: 32px;
  }
}
.slider-slider-nav {
  .slick-list {
    margin: 0 -15px;
  }
  .slick-slide {
    margin: 0 15px;
  }
  .container {
    position: relative;
  }
  .slick-list {
    padding: 10px 0;
  }
}
.slider-btn {
  cursor: pointer;
  display: flex;
  text-align: center;
  white-space: nowrap;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #ed4e53;
  box-shadow: 4px 3px 24px rgba(237, 78, 83, 0.5);
  color: #fff;
  z-index: 250;
  &:hover,
  &:focus {
    color: #fff;
  }
  span {
    line-height: 19px;
    font-size: 14px;
  }
  i {
    font-size: 19px;
    margin-left: 8px;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #da464a;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    z-index: -1;
    transition: 0.3s;
    transform-origin: center;
    transform: scale(0);
  }
  &:hover:before {
    transform: scale(1);
  }
}

.featured-area {
  .section-title {
    h2 {
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 16px;
    }
    h2 {
      line-height: 1.3;
      font-family: "Oswald", sans-serif;
      color: #0b0320;
    }
    p {
      max-width: 580px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: auto;
      color: #a5a4a9;
    }
  }
}
.feature-item {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  img {
    width: 100%;
    border-radius: 25px;
  }
  .feature-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    background-color: #fff;
    max-width: 310px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    .category-text {
      font-weight: 500;
      font-size: 18px;
      color: #0b0320;
    }
    a {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 46px;
      border-radius: 50%;
      text-align: center;
      font-size: 23px;
      color: #fff;
      background-color: var(--color-1st);
    }
  }
  &:hover {
    transform: translateY(-10px);
    .feature-inner a.category-link {
      background-color: #0b0320;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .sidearea {
    padding: 110px 40px 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid {
    width: 950px;
  }
  .sidearea {
    padding: 60px 42px 30px 41px;
  }
}
@media only screen and (max-width: 1024px) {
  .main {
    padding: 30px;
  }
  .header {
    display: none;
  }
  .grid {
    width: 768px;
  }
}
@media (max-width: 991px) {
  .main-slider.slider-1 .slider-inner {
    .row {
      flex-direction: column-reverse;
      img {
        padding-top: 12px;
        max-width: 350px;
        margin: 0 auto 30px;
      }
    }
    .slider-content {
      text-align: center;
      .slider-icons-wrapper,
      .slider-controls {
        justify-content: center;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .grid {
    width: 600px;
  }
  .mobile-header .grid {
    width: 90%;
  }
}
.main {
  padding-top: 0;
}
@media (max-width: 575px) {
  .main-slider.slider-1 .slider-inner .row {
    flex-direction: column-reverse;
    img {
      max-width: 200px;
    }
  }
}
