<div [ngClass]="{'sidearea-opended': isSideareaOpen}">
  <section class="sidearea text-center">
    <a href="javascript:void(0);" class="close-sidearea" (click)="toggleSidearea()">
      <svg class="flip-icon text-mid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="41.521px" height="15.18px" viewBox="0 0 41.521 15.18"
        enable-background="new 0 0 41.521 15.18" xml:space="preserve">
        <polygon fill="#FFFFFF" points="41.521,7.094 1.9,7.094 8.287,0.707 7.58,0 0,7.58 7.58,15.18 8.288,14.473 1.925,8.094 
          41.521,8.094 "></polygon>
      </svg>
    </a>
    <div class="sidearea-logo mb-20">
      <a href="/">
        <img src="/assets/img/sidearea-logo.png" alt="">
      </a>
    </div>
    <div class="h-24"></div>
    <div class="sidearea-text">
      <p class="my-12">
        Someplace 101 1st Street,<br>
        Some State 10000, Country<br>
        <a href="tel:123456789">+123456789</a><br>
        <a href="mailto:email@example.com">email@example.com</a>
      </p>
    </div>
    <div class="h-32"></div>
    <div class="sidearea-socials d-flex justify-content-center">
      <a class="social-icon icon-has-hover mx-16" href="fb.com" target="_blank">
        <span>FB</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="ig.com" target="_blank">
        <span>IG</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="twitter.com" target="_blank">
        <span>TW</span>
      </a>
      <a class="social-icon icon-has-hover mx-16" href="twitter.com" target="_blank">
        <span>LI</span>
      </a>
    </div>
  </section>
  <div class="main">
    <div class="main-overlay" (click)="toggleSidearea(true)"></div>
    <div class="main-inner w-100-p overflow-h">
      <header class="header z-10 w-100-p" appHeaderFixed>
        <div class="menu fixed d-flex align-items-center w-100-p" style="height: 125px;">
          <div class="left d-flex align-items-center" style="flex: 100%;">
            <div class="left-widget d-flex align-items">
              <a href="javascript:void(0);" class="black-btn solid small">
                <span class="btn-text">Reserve</span>
              </a>
            </div>
            <div class="left-inner mx-auto">
              <nav class="main-menu">
                <ul id="mainMenu" class="p-0 m-0 d-flex">
                  <li class="menu-item">
                    <a routerLink="" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Menu</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/lorem" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Lorem</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/ipsum" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Ipsum</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="center">
            <div class="center-inner">
              <div class="logo-wrapper pb-4">
                <a href="">
                  <img src="/assets/img/logo-default-1.png" alt="" class="normal-logo"
                    style="height: 36px; width: 100%;">
                  <!-- <img src="" alt="" class="dark-logo">
                  <img src="" alt="" class="light-logo"> -->
                </a>
              </div>
            </div>
          </div>
          <div class="right d-flex justify-content-between" style="flex: 100%;">
            <div class="right-inner mx-auto">
              <nav class="main-menu">
                <ul id="mainMenu" class="p-0 m-0 d-flex">
                  <li class="menu-item">
                    <a routerLink="" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Menu</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/lorem" routerLinkActive="active">
                      <span class="item-inner">
                        <span class="item-text">Lorem</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="cursor-pointer" (click)="openLoginDialog()">
                      <span class="item-inner">
                        <span class="item-text">Sign-in</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="right-widget">
              <a href="javascript:void(0);" class="sidearea-button-opener-svg-path" (click)="toggleSidearea()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="40.997px" height="17.016px" viewBox="0 0 40.997 17.016"
                  enable-background="new 0 0 40.997 17.016" xml:space="preserve">
                  <g class="sidearea-svg-1">
                    <rect class="sidearea-svg-initial" fill="#010101" width="40.997" height="1"></rect>
                    <rect class="sidearea-svg-hover" fill="#010101" width="40.997" height="1"></rect>
                  </g>
                  <g class="sidearea-svg-2">
                    <rect class="sidearea-svg-initial" fill="#010101" width="40.997" height="1"></rect>
                    <rect class="sidearea-svg-hover" fill="#010101" width="40.997" height="1"></rect>
                  </g>
                  <g class="sidearea-svg-3">
                    <rect class="sidearea-svg-initial" fill="#010101" width="40.997" height="1"></rect>
                    <rect class="sidearea-svg-hover" fill="#010101" width="40.997" height="1"></rect>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </header>
      <header class="mobile-header d-md-none">
        <div class="mobile-header-inner">
          <div class="mobile-header-bar">
            <div class="grid position-relative h-100-p">
              <div
                class="mobile-menu-opener d-flex justify-content-center align-items-center position-absolute h-100-p z-1"
                (click)="isMobileNavOpen = !isMobileNavOpen">
                <a href="javascript:void(0);" class="cursor-pointer d-flex">
                  <span class="material-icons" style="color: #000;">menu</span>
                </a>
              </div>
              <div
                class="position-absolute w-100-p text-center d-flex justify-content-center align-items-center h-100-p">
                <a routerLink="/" class="d-block w-100-p" style="height: 26px;background-image: url('/assets/img/logo-mobile-1.png'); background-repeat: no-repeat;
                background-position: center;
                background-size: contain;">
                </a>
              </div>
            </div>
          </div>
          <div class="mobile-nav" [ngClass]="{'active': isMobileNavOpen}">
            <div class="grid">
              <ul class="mobile-menu m-0 p-0">
                <li class="mobile-menu-item position-relative" appToggleClass>
                  <a href="javascript:void(0);" class="pl-4 py-8">
                    <span>Home</span>
                  </a>
                  <span class="arrow position-absolute">
                    <i class="material-icons">keyboard_arrow_right</i>
                  </span>
                  <ul class="mobile-sub-menu m-0 p-0 ml-16">
                    <li class="mobile-menu-item">
                      <a href="">
                        <span>Lorem</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="footer-root">
    <div class="footer-top-cont">
      <div class="footer-inner">
        <div class="row text-center">
          <div class="col-12">
            <div class="separator h-52"></div>
            <div class="footer-logo mb-20">
              <a routerLink="/">
                <img src="/assets/img/footer-logo.png" alt="" width="32">
              </a>
            </div>
            <div class="separator h-24"></div>
            <div class="address-cont">
              <p>
                <a class="line-link" href="https://www.google.com/maps/" target="_blank"
                  rel="noopener; noopener noreferrer">
                  Some Restaurant 123 4th Avenue,</a></p>
              <p>
                <a class="line-link" href="https://www.google.com/maps/" target="_blank"
                  rel="noopener; noopener noreferrer">
                  New York 10021, USA
                </a>
              </p>
              <p><a class="line-link" href="tel:+000123456789">+00 01 23 456 789</a></p>
              <p><a class="line-link" href="mailto:email@example.com">email@example.com</a></p>
              <p>Open 08:00 - 22:00 </p>
            </div>
            <div class="separator h-24"></div>
            <div class="social-cont">
              <a class="line-link mr-36" href="https://www.facebook.com" target="_blank">
                <span>Facebook</span>
              </a>
              <a class="line-link mr-36" href="https://www.instagram.com" target="_blank">
                <span>Instagram</span>
              </a>
              <a class="line-link" href="https://www.tripadvisor.com" target="_blank">
                <span>Trip Advisor</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bot-cont">
      <div class="grid">
        <div class="row">
          <div class="col-12">
            <p>
              All rights reserved <a style="color: #4e4e4e;">© </a>
              <a href="" target="_blank" class="link-link" style="color: #4e4e4e;" rel="noopener noreferrer">Rojer Maharjan</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>