.result-cont .result-text {
  margin: 0;
  line-height: 46px;
  font-size: 14px;
  color: #000;
}

.pagination {
  margin: 30px 0 69px;
  display: flex;
  justify-content: center;
  .page-number {
    margin: 0 18px;
    color: #000;
    font-weight: 400;
    position: relative;
    &.active:before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &.next {
      margin: 0 10px 0 48px;
      background: url("/assets/img/next-arrow.png") center center no-repeat;
      background-size: 100% 100%;
    }
    &.next,
    &.previous {
      font-size: 0;
      line-height: 0;
      width: 5px;
      height: 25px;
    }
  }
}

.cat-item {
  line-height: 20px;
  a {
    color: #4e4e4e;
  }
}

.feature-product {
  display: flex;
  min-height: 110px;
  .left {
    display: flex;
    max-width: 85px;
  }
  .right {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-top: 16px;
  }
  .fp-title {
    a {
      color: #000;
      line-height: 20px;
    }
  }
}

.tag-list {
  .tag {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #fbf9f9;
    font-size: 11px !important;
    line-height: 15px;
    text-transform: uppercase;
    color: #4e4e4e;
    margin: 0 4px 8px 0;
    padding: 6px 10px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
