// Slider
.slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  img {
    position: absolute;
    max-width: 180px;
    margin-right: 200px;
  }
}
.main-slider {
  position: relative;
  .offer-slider,
  .slider-item {
    z-index: 200;
    &:focus,
    &:hover {
      outline: none;
    }
  }
  &.slider-1 {
    min-height: auto;
    .slider-inner {
      position: relative;
      padding: 120px 0;
      background-size: cover;
      background-position: center;
      padding: 0 0 70px;
      .slider-content {
        text-align: right;
        .slider-icons-wrapper,
        .slider-controls {
          justify-content: flex-end;
        }
      }
      h1,
      p {
        max-width: 600px;
      }
      .title {
        font-size: 62px;
        font-family: "Oswald", sans-serif;
        line-height: 80px;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
        color: #1d2228;
      }
      .subtitle {
        font-size: 26px;
        margin: 0 0 20px;
        font-family: "Oswald", sans-serif;
        color: #1d2228;
      }
      p.text {
        color: #848486;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    .slick-arrow {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .slick-dots {
      margin: 0;
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .slick-list,
  .slick-slide {
    margin: 0;
  }
}
.slider-icons-wrapper {
  display: flex;
  align-items: center;
}
.slider-icon {
  display: flex;
  align-items: center;
  margin: 0 40px 40px 0;
  &:last-child {
    margin-right: 0;
  }
  i {
    font-size: 40px;
    margin-right: 20px;
  }
  h5 {
    margin: 0;
    color: #1d2228;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
}
.slider-controls {
  display: flex;
  align-items: center;
  h4 {
    margin: 0 0 0 40px;
    font-weight: 700;
    color: #1d2228;
    font-size: 26px;
    line-height: 32px;
  }
}
.slider-slider-nav {
  .slick-list {
    margin: 0 -15px;
  }
  .slick-slide {
    margin: 0 15px;
  }
  .container {
    position: relative;
  }
  .slick-list {
    padding: 10px 0;
  }
}
.slider-btn {
  cursor: pointer;
  display: flex;
  text-align: center;
  white-space: nowrap;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #ed4e53;
  box-shadow: 4px 3px 24px rgba(237, 78, 83, 0.5);
  color: #fff;
  z-index: 250;
  &:hover,
  &:focus {
    color: #fff;
  }
  span {
    line-height: 19px;
    font-size: 14px;
  }
  i {
    font-size: 19px;
    margin-left: 8px;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #da464a;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    z-index: -1;
    transition: 0.3s;
    transform-origin: center;
    transform: scale(0);
  }
  &:hover:before {
    transform: scale(1);
  }
}

.featured-area {
  background-color: #fbf9f9;
}
.featured-area-2 {
  .section-title {
    h2 {
      text-align: center;
      font-size: 48px;
      margin: 0;
      line-height: 1.16em;
      color: #0b0320;
    }
    .separator {
      border-bottom: 1px solid var(--color-tertiary);
    }
  }
}
@media (max-width: 991px) {
  .main-slider.slider-1 .slider-inner {
    .row {
      flex-direction: column-reverse;
      img {
        padding-top: 12px;
        max-width: 350px;
        margin: 0 auto 30px;
      }
    }
    .slider-content {
      text-align: center;
      .slider-icons-wrapper,
      .slider-controls {
        justify-content: center;
      }
    }
  }
}
@media (max-width: 575px) {
  .main-slider.slider-1 .slider-inner .row {
    flex-direction: column-reverse;
    img {
      max-width: 200px;
    }
  }
}
