.feature-item {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  img {
    width: 100%;
    border-radius: 25px;
  }
  .feature-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    background-color: #fff;
    max-width: 310px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    .feature-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .feature-icon {
        display: flex;
        align-items: center;
        padding: 12px 0;
      }
      .feature-text {
        font-weight: 500;
        font-size: 18px;
        color: #0b0320;
        padding: 12px 0;
      }
      .feature-link-cont {
        padding-right: 8px;
        a.feature-link {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 46px;
          border-radius: 50%;
          text-align: center;
          font-size: 23px;
          color: #fff;
          background-color: var(--color-primary);
        }
      }
    }
  }
  &:hover {
    transform: translateY(-10px);
    .feature-inner .feature-btn .feature-link-cont a.feature-link {
      background-color: var(--color-secondary);
    }
  }
}
