h2 {
  display: flex;
  justify-content: space-between;
}
.social-login-option {
  display: flex;
  color: #000;
  font-weight: 400;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 4px;
  .social-icon {
    height: 48px;
    width: 48px;
    padding: 8px;
  }
  .social-text {
    padding-left: 16px;
    font-size: 18px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
