<h2 mat-dialog-title>
  <span>Sign in using</span>
  <button class="close-icon" [mat-dialog-close]="true">
    <i class="material-icons">close</i>
  </button>
</h2>
<mat-dialog-content>
  <div class="social-login-options-container">
    <a class="social-login-option" href="javascript:void(0);">
      <div class="social-icon">
        <img src="/assets/img/google.svg" alt="Google">
      </div>
      <div class="social-text">Sign in with Google</div>
    </a>
    <a class="social-login-option" href="javascript:void(0);">
      <div class="social-icon">
        <img src="/assets/img/facebook.svg" alt="Facebook">
      </div>
      <div class="social-text">Sign in with Facebook</div>
    </a>
  </div>
  <small>You can sign in using your social accounts in order to<br> leave review and feedback.</small>
</mat-dialog-content>